{% extends "auctions/layout.html" %}

{% block body %}
  <div class="container">
      <h2>Active Listings</h2>
      <div class="card-columns">

        {% for listing in listings %}
        <div class="card">
            <div class="card-header">{{ listing.title }}</div>
            <div class="card-body">
              <img class="card-img-top" src="{{ listing.image_URL }}" alt="{{ listing.title }}" style="max-height: 250px; max-width: 250px">
              <p class="card-text">{{ listing.description }}</p>
              <a class="btn btn-primary" href="{% url 'display_listing' listing.id %}" >See Listing</a>
              {% if watchlist %}
                {% if listing.id in watchlist %}
                <a class="btn btn-warning" href="{% url 'remove_from_watchlist' listing.id %}">Remove from Watchlist</a>
                {% else %}
                <a class="btn btn-primary" href="{% url 'add_to_watchlist' listing.id %}">Add to Watchlist</a>
                {% endif %}
              {% endif %}
            </div>
            <div class="card-footer">{{ listing.listed_datetime }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
