{% extends "auctions/layout.html" %}

{% block body %}
  <div class="container">
      <h2>{{ heading }}</h2>
      <div class="card-columns">
        {% for listing in listings %}
        <div class="card">
            <div class="card-header">{{ listing.title }}</div>
            <div class="card-image">
              <img class="card-img-top" src="{{ listing.image_URL }}" alt="{{ listing.title }}">
            </div>
            <div class="card-body">
              <p class="card-text">{{ listing.description }}</p>
              <p>
                  Current Bid:
                {% if listing.bid.last %}
                  ${{ listing.bid.last.bid }}
                {% else %}
                  ${{ listing.starting_bid }}
                {% endif %}
              </p>
              <a class="btn btn-primary" href="{% url 'display_listing' listing.id %}" >See Listing</a>
              {% if request.user.is_authenticated %}
                {% if listing.id in watchlist %}
                <a class="btn btn-warning" href="{% url 'remove_from_watchlist' listing.id %}">Remove from Watchlist</a>
                {% else %}
                <a class="btn btn-primary" href="{% url 'add_to_watchlist' listing.id %}">Add to Watchlist</a>
                {% endif %}
              {% endif %}
            </div>
            <div class="card-footer">

            </div>
          </div>
        {% empty %}
        <p class="announce">No Lisings to Display</p>
        {% endfor %}
      </div>
    </div>
{% endblock %}
