html, body {
  padding: 10px;
  background-color: yellow;
  // background-image: url("/static/moroccan-flower.png");
  // background-repeat: repeat;
  // text-align: center;
  // font-family: $font-stack;
  // line-height: 1.6;
  // height: 100%;
}
h2{
  color: green;
}
/* Check out https://getbootstrap.com/docs/4.0/components/input-group/ */
